#app-progress-bar {
  top: 0;
  left: 0;
  width: 0;
  height: 2.5px;
  z-index: 9999;
  position: fixed;
  pointer-events: none;
  background-color: var(--palette-primary-main);
  box-shadow: 0 0 2.5px var(--palette-primary-main);
  transition:
    width 200ms ease,
    opacity 300ms ease;
}
